@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background: linear-gradient(to right, #AB7515, #FFFFD3, #F1D37D, #AB7515);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Dành cho trình duyệt hỗ trợ chuẩn mới */
  background-clip: text;
  color: transparent;
}

.gradient {
  background: linear-gradient(to right, #AB7515, #FFFFD3, #F1D37D, #AB7515);
}

.bg-item {
  background: rgba(241, 211, 125, 0.1);
}
